.p-heading {
    margin-top: 10px;
    margin-left: 20px;
}

.p-content {
    margin-top: 10px;
    margin-left: 20px;
}

.page-text {
    width: 50%;
    display: inline;
}

.side-photo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}