.background-heading {
    /* background: url('../img/shauna-child.jpg') center/cover no-repeat; */
    background-color: #873e23;
    height: 17vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.background-heading > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
}



@media screen and (max-width: 960px) {
    .background-heading > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .background-heading > h1 {
        font-size: 50px;
        margin-top: -20px;
    }

    .background-heading > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}