.p-heading {
    margin-top: 10px;
    margin-left: 20px;
}

.p-content {
    margin-top: 10px;
    margin-left: 20px;
}

.page-text {
    width: 50%;
    display: inline;
}

.side-photo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#colorstack {
    width: 50%;
    margin-top: 32px;
    float: left;
    margin-left: 30px;
}



#black-girls-code {
    width: 25%;
    margin-left: 40px;
    margin-top: -15px;
}